# Таблица с описательной статистикой для набора данных «Цветы ириса».
Задание выполнялось в Jupyter Notebook.
Я рассматривал несколько вариантов решения данного задания, но выбрал это как самое оптимальное.

## Импортируем библиотеки и данные

In [264]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [265]:
iris = pd.read_csv('iris_data.csv', header=None)

## Оценим и отредактируем данные

In [266]:
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

Введём имена для столбцов таблицы, обозначив информацию и класс

In [267]:
iris.columns=["sepal length", "sepal width", "petal length", "petal width", "class"]
iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

В описании к файлу указано, что пропуски отсутствуют, но стоит это проверить.

Посмотрим общее инфо по датасету

In [268]:
display(iris.isnull().sum())
display(iris.info())

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

## Анализ данных

Посчитаем количество объектов в данных

In [269]:
def ObjectsInDF(Name):
    return ["N = " + str(len(Name))]

Получим данные по классу 

Используя loc(), мы можем получить доступ к значениям данных, помещенным в конкретную строку или столбец, на основе значения индекса, переданного функции.

In [270]:
def DataByClasses(Name, Column, ClassType):
    return Name.loc[Name[Column] == ClassType]

Получим значения для набора данных по выбранному столбцу.

Значения округляются до 1 знака после точки

In [271]:
def SpecificColumn(Name, Column):
    ds = []
    ds.append(Name[Column].count())
    ds.append(round(Name[Column].mean(), 1))
    ds.append(round(Name[Column].min(), 1))
    ds.append(round(Name[Column].median(), 1))
    ds.append(round(Name[Column].max(), 1))
    ds.append(round(Name[Column].std(), 1))
    return ds

Получим количество объектов с требуемыми значениями длины и ширины

In [272]:
def Lenght(Name, Column):
    totalNumber = Name[Column].count()
    ds = [
    str((Name[Column] < 5).sum()) + " (" + str(round(float((Name[Column] < 5).sum())/totalNumber, 3) * 100) + ")",
    str(((Name[Column] >= 5) & (Name[Column] < 6)).sum()) + " (" + str(round(float((((Name[Column] >= 5) & (Name[Column] < 6)).sum()))/totalNumber, 3) * 100) + ")",
    str(((Name[Column] >= 6) & (Name[Column] < 7)).sum()) + " (" + str(round(float(((Name[Column] >= 6) & (Name[Column] < 7)).sum())/totalNumber, 3) * 100) + ")",
    str((Name[Column] >= 7).sum()) + " (" + str(round(float((Name[Column] >= 7).sum())/totalNumber, 3) * 100) + ")"]
    return ds
  
def Width(Name, Column):
    totalNumber = Name[Column].count()
    ds = [
    str((Name[Column] < 3).sum()) +  " (" + str(round(float((Name[Column] < 3).sum())/totalNumber, 3) * 100) + ")",
    str(((Name[Column] >= 3) & (Name[Column] < 3.5)).sum()) + " (" + str(round(float(((Name[Column] >= 3) & (Name[Column] < 3.5)).sum())/totalNumber, 3) * 100) + ")",
    str(((Name[Column] >= 3.5) & (Name[Column] < 4)).sum()) + " (" + str(round(float(((Name[Column] >= 3.5) & (Name[Column] < 4)).sum())/totalNumber, 3) * 100) + ")"]
    return ds

Выведем информацию по ирисам согласно данным

In [273]:
def Main(IrisType):
    SumInfo = ObjectsInDF(IrisType)
    SepalWidth = SpecificColumn(IrisType, 'sepal width')
    SepalWidthInfo = Width(IrisType, 'sepal width')
    SepalLength = SpecificColumn(IrisType, 'sepal length')
    SepalLengthInfo = Lenght(IrisType, 'sepal length')
    return SumInfo + [''] + SepalLength + [''] + SepalLengthInfo + [''] + SepalWidth + [''] + SepalWidthInfo

Создадим набор данных с информацией по каждому из классов ирисов

In [274]:
CompleteData = iris
Total = Main(CompleteData)
SetosaInfo = DataByClasses(iris, 'class', 'Iris-setosa')
Setosa = Main(SetosaInfo)
VersicolorInfo = DataByClasses(iris, 'class', 'Iris-versicolor')
Versicolor = Main(VersicolorInfo)
VirginicaInfo = DataByClasses(iris, 'class', 'Iris-virginica')
Virginica = Main(VirginicaInfo)

## Новая таблица

Объединим данные

In [275]:
iris_new = {'Iris-Setosa': Setosa, 'Iris-Versicolor': Versicolor, 'Iris-Virginica': Virginica, 'Total': Total}

In [276]:
iris_full = pd.DataFrame(data = iris_new)

In [277]:
iris_full.head()

  Iris-Setosa Iris-Versicolor Iris-Virginica    Total
0      N = 50          N = 50         N = 50  N = 150
1
2          50              50             50      150
3           5             5.9            6.6      5.8
4         4.3             4.9            4.9      4.3

Изменим индексы таблицы и столбцы под требуемый формат

In [278]:
iris_full = iris_full.rename(index={0: '', 1: 'SEPAL LENGTH [CM]',
                      2: 'N', 3: 'MEAN',
                      4: 'MIN', 5: 'MEDIAN',
                      6: 'MAX', 7: 'STANDARD DEVIATION',
                      8: 'SEPAL LENGTH (%)', 9: '< 5',
                      10: '>= 5 AND < 6', 11: '>= 6 AND < 7',
                      12: '>= 7', 13: 'SEPAL WIDTH [CM]',
                      14: 'N', 15: 'MEAN',
                      16: 'MIN', 17: 'MEDIAN',
                      18: 'MAX', 19: 'STANDARD DEVIATION',
                      20: 'SEPAL WIDTH (%)', 21: '< 3',
                      22: '>= 3 AND < 3.5', 23: '>= 3.5 AND < 4'})

iris_full = iris_full.rename(columns = {'Iris-Setosa' : 'Iris Setosa', 
                                        'Iris-Versicolor' : 'Iris Versicolor', 
                                        'Iris-Virginica' : 'Iris Virginica'})

Оценим полученный результат

In [279]:
iris_full

                   Iris Setosa  ...                    Total
                        N = 50  ...                  N = 150
SEPAL LENGTH [CM]               ...
N                           50  ...                      150
MEAN                         5  ...                      5.8
MIN                        4.3  ...                      4.3
MEDIAN                       5  ...                      5.8
MAX                        5.8  ...                      7.9
STANDARD DEVIATION         0.4  ...                      0.8
SEPAL LENGTH (%)                ...
< 5                  20 (40.0)  ...                22 (14.7)
>= 5 AND < 6         30 (60.0)  ...  61 (40.699999999999996)
>= 6 AND < 7           0 (0.0)  ...                54 (36.0)
>= 7                   0 (0.0)  ...                 13 (8.7)
SEPAL WIDTH [CM]                ...
N                           50  ...                      150
MEAN                       3.4  ...                      3.1
MIN                        2.3  ...                        2
MEDIAN                     3.4  ...                        3
MAX                        4.4  ...                      4.4
STANDARD DEVIATION         0.4  ...                      0.4
SEPAL WIDTH (%)                 ...
< 3                    2 (4.0)  ...                57 (38.0)
>= 3 AND < 3.5       27 (54.0)  ...                69 (46.0)
>= 3.5 AND < 4       17 (34.0)  ...                20 (13.3)

[24 rows x 4 columns]

Сохраним таблицу как iris-flowers.txt

In [280]:
iris_full.to_csv('iris-flowers.txt', sep='\t')